Backend/.env

# Frontend build output
Frontend/dist/

# Lambda build artifact
DB/getalldata_lambda.zip
.DS_Store
DB/getalldata.zip
DB/getalldata-layer.zip
DB/getalldata_new.zip
DB/getalldata_old.zip
DB/package/
